@import "~@angular/material/prebuilt-themes/indigo-pink.css";
app-home {
    width: 100%;
}
// Toolbar section
#toolbar {
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 2;
}
#burger-button {
    position: absolute;
    left: 12px;
}
.material-icons {
    margin-right: 15px;
}

// Sidenav section
mat-sidenav-container {
    position: absolute;
    width: 100%;
}

mat-sidenav-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-sidenav {
    width: 200px;
}
@media screen and (min-width: 600px) {
    #toolbar {
        display: none;
    }
    mat-sidenav-container {
        position: absolute;
        top: 0;
    }
    mat-sidenav {
        top: 0 !important;
    }
}
@media screen and (max-width: 600px) {
    $toolbar-height: 56px;
    #toolbar {
        height: $toolbar-height;
    }
    mat-sidenav-container {
        position: absolute;
        top: $toolbar-height;
    }
    mat-sidenav {
        top: $toolbar-height !important;
    }
}