.article-content {
  width: 60%;
  margin: 0 auto;
  padding: 50px 0;
  max-width: 750px;
}
h2.article-title {
  text-align: center;
  font-size: 38px;
  margin: 0 0 40px 0;
}
.article-cover {
  width: 100%;
  object-fit: contain;
  margin-bottom: 50px;
}
h3 {
  max-width: 650px;
  margin-top: 45px;
  font-weight: 600;
  font-size: 34px;
}
.article-quote {
  text-align: center;
  padding: 0 5%;
  font-style: italic;
  margin-top: 60px;
  color: rgba(0, 0, 0, 0.7);
}
.article-paragraph {
  font-size: 21px;
  line-height: 1.58;
  ul {
    margin: 15px 0;
    li {
      margin-bottom: 10px;
    }
  }
}
h4 {
  margin-bottom: 5px;
  font-size: 26px;
  color: #3c3c3c;
}
h4 + .article-paragraph {
  margin-top: 0;
}
.article-image-container {
  margin: 80px 0;
  width: 100%;
  .article-image {
    width: 100%;
  }
}
.article-separator {
  display: block;
  margin: 60px 0 40px;
  text-align: center;
  font-size: 40px;
}

.related-articles-container {
  margin-top: 100px;
  h3.related-articles-title {
    font-size: 26px;
    font-weight: 500;
    color: #5c5c5c;
  }
  .articles-chips-container {
    display: flex;
    flex-wrap: wrap;
    .article-chip {
      padding: 10px 20px;
      margin: 0 10px 5px 0;
      background-color: rgba(35, 64, 153, 1);
      color: white;
      border: 1px solid #e6e6e6;
      border-radius: 25px;
      text-decoration: none;
      &:hover {
        background-color: rgba(35, 64, 153, 0.9);
        box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.1);
        transition: all 0.2s ease;
      }
    }
  }
}