<mat-card>
        <mat-card-header>
            <mat-card-title>Communication</mat-card-title>
        </mat-card-header>
        <mat-card-content>
                <i class="fa fa-users"></i>
        </mat-card-content>
        <mat-card-actions>
            <div class="buttons-skills">
                <span>PROJETS LIES</span>
                <div class="buttons-container">
                    <a mat-button color="primary" routerLink="../realisations/omega">Oméga</a>
                    <a mat-button color="primary">APM</a>
                </div>
            </div>
            <div class="button-detail">
                <a mat-raised-button color="primary" routerLink="/skills/communication">DETAILS</a>
            </div>
        </mat-card-actions>
    </mat-card>