<mat-card>
    <mat-card-header>
        <mat-card-title>Oméga</mat-card-title>
    </mat-card-header>
    <mat-card-content>
            <img mat-card-image src="../../assets/LogoOmega.png" alt="Logo Omega" class="project-omega-image">
    </mat-card-content>
    <mat-card-actions>
        <div class="buttons-skills">
            <span>Compétences liées</span>
            <div class="buttons-container">
                <button mat-button color="primary">C#</button>
                <button mat-button color="primary">COMMUNICATION</button>
            </div>
        </div>
        <div class="button-detail">
            <a mat-raised-button color="primary" routerLink="/realisations/omega">DETAILS</a>
        </div>
    </mat-card-actions>
</mat-card>